
nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #88CCEE; /*color blind friendly*/
  margin-bottom: 20px; 
}

nav img {
  width: 50px;
  height: auto;
  margin-right: 20px; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px; 
}

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 15px 10px; 
}

nav ul li:hover {
  background-color: #A1DEFD; /*color blind friendly*/
}

#login {
  margin-left: 550px; 
 
}


h2 {
    color: #333;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
  }

#myForm {
    border: 2px solid #999; 
    border-radius: 5px; 
    padding: 10px; 
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center;
    margin-right: 200px; 
    margin-left: 200px; 

}

.description-label{
    font-family: "Times New Roman", Times, serif;
    font-size: 17.5px;
    font-weight: bold;
}


label {
    display: inline-block;
    margin-bottom: 5px;
  }
  

  input[type="checkbox"] {
    margin-right: 5px; 
  }
  
  /* Style for the submit button */
  input[type="submit"] {
    background-color:#49E27C; /*colorblindness color*/
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
  }
  

#logo{
  border-radius: 25%;
  
}