nav ul {
    list-style-type: none;
    background-color: rgb(129, 207, 224);
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative; 
}

nav ul li a {
    display: block;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
}
nav ul li:hover{
    background-color: rgb(197, 239, 247); 
    
}

h2{
    text-align: center; 
}

#myForm {
    border: 2px solid #999; 
    border-radius: 5px; 
    padding: 10px; 
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center;
    margin-right: 200px; 
    margin-left: 200px; 

}