
  

/* for the profile */
body {
   
  
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
}
.profile-info {
    text-align: center; 
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-info p {
    margin: 10px 0;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}
.form-group.text-center { /* Center-align text */
    text-align: center;
}

.description-label{
    font-size: 17.5px;
    font-weight: bold;
}

#smallLabel{
    font-size: 10px;
}

input[type="checkbox"] {
    
    margin-right: 50px; 
  }

#checkThem{
    margin-left: 10px; 
}


#logo{
  border-radius: 25%;
  
}


nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #88CCEE; /*color blind friendly*/
  margin-bottom: 20px; 
}

nav img {
  width: 50px;
  height: auto;
  margin-right: 20px; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px; 
}

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 15px 10px; 
}

nav ul li:hover {
  background-color: #A1DEFD; /*color blind friendly*/
}

#login {
  margin-left: 550px; 
 
}